<link rel="stylesheet" type="text/css" href="~/css/cart.css" />

<section just-grey">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">

            <div class="text-center mb-0">
            <p class="pb-3">
                <span class="lead font-italic">Your cart is empty</span>
            </p>

            <figcaption class="blockquote-footer mb-0">
                <a asp-action="Index" asp-controller="Home">Back to shop</a>
              </figcaption>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>